.app{
  background-image: url("https://unsplash.com/photos/XXuVXLy5gHU/download");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 100vh; */

  background-color: #111;
}
.app__content{
  width: 80%;
  margin:0 auto;
}