@font-face{
  font-family: firstFont;
  src:url("./Assets/Font/Painter-LxXg.ttf");
}
body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: firstFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
